.empresa-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,248,220,1) 100%);
}

.container-principal {
  display: flex;
  gap: 2rem;
}

.title-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-content h1 {
  color: cornsilk;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
}

.title-content img {
  width: 25rem;
  border-radius: 12px;
  border: 2px solid cornsilk;
}

.card-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 350px;
  height: 100%;
  background:  rgba(255,248,220,1);
  border-radius: 12px;
  border: 2px solid #000000;
  padding: 2rem 1rem;
}

.links a {
  cursor: pointer;
}

.cards h1 {
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.cards p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.125rem;
  color: #000000;
  font-weight: 700;
  text-align: justify;
}


